<h2 color:red>Choose your book</h2>

<ul *ngIf="isDisabled">

    <li>
        <img src="{{src1}}" alt="{{name1}}" width="100" />
        {{book1}} by {{name1}}
    </li>

    <li>
        <img src="{{src2}}" alt="{{name2}}" width="100" />
       {{book2}} by {{name2}}
    </li>

</ul>

<button (click) = "isDisabled = ! isDisabled">

    <ng-container *ngIf = "isDisabled">Hide</ng-container>
    <ng-container *ngIf= "! isDisabled">Show</ng-container>
    <!-- <span $#$#$#$#$#$# -->

</button>

<!--<button (click) = "handleClick()" [disabled]="isDisabled">Buy Books</button> -->

<input type="text" [(ngModel)]="myname" />
{{myname}}