<li class = "book">

    <img [src]="book.image" [alt]="book.book" width="100"  class="m-auto rounded-sm"/>
   
    <div class="m-auto">
        <p class="text-lg">{{book.book | titlecase}} by {{book.name | titlecase}}</p>
        <p class="my-4">{{ book.amount | currency:'INR' }}</p>
        <button class="bg-yellow-400 rounded p-3" *ngIf="!isInCart"
            (click)="addToCart()">Add to Cart</button>
        <button class="bg-yellow-400 rounded p-3" *ngIf="isInCart"
            (click)="removeFromCart()">Remove from
            Cart</button>
    </div>
</li>